html {
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 65px;
  background: rgb(40, 55, 71);
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  color: red;
  margin: 0;
}

a {
  margin: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

#article-name {
  padding-top: 16px;
  font-size: 30px;
}

body {
  background: rgb(193, 197, 210);
  color:black;
  font-size:20px;
  text-align: center;
  z-index: 2;
  margin: 0;
}
