#footer-ui {
   list-style-type: none;
   margin-left: 75%;
   /*margin-top: 80%*/
   padding: 0px;
   overflow: hidden;
   background: rgb(40, 55, 71);
   text-align: center;
   position: fixed;
   max-width: 500px;
   bottom: 0;
   right: 2%;
}

#logout-footer-ui {
   list-style-type: none;
   margin-left: 75%;
   /*margin-top: 80%*/
   padding: 0px;
   overflow: hidden;
   background: rgb(40, 55, 71);
   text-align: center;
   position: absolute;
   max-width: 500px;
   bottom: 2%;
   right: 2%;
}

#menu {
   float: left;
}

ul {
   font-family: 'Raleway', sans-serif;
}
li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

#footer-ui li a:hover:not(.active) {
   background: rgb(138, 138, 138);
}

/*.active {
   background: rgb(209,209,210);
}*/
