header {
	position: relative;
	top: 0%;
	left: 0%;
	right: 0%;
	height: 65px;
  background: rgb(40, 55, 71);
}

header .header-content {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 65px;
    clear: both;
}

.header-content div {
	display: block;
	text-align: center;
	padding: 24px 20px;
	text-decoration: none;
	color: white;
}

header #friends {
	position: absolute;
	left: 3%;
}

header #apollu {
	position: absolute;
	left: 47%;
}

header #interests {
	position: absolute;
	margin-left: 81%;
	top: 0.01px;
}
