html{
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}

body{
 margin:0;
 background: rgb(193, 197, 210);
}

.flex-container1 {
   display: inline-block;
   height: 100%;
   width: 100%;
   background: rgb(193, 197, 210);
   text-decoration: none;
}

.flex-item1 {
   height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 17px;
   float: left;
   overflow: scroll, hidden;
}

.flex-item2 {
 height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 17px;
   float: left;
   overflow: scroll, hidden;
}

.flex-item3 {
   height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 17px;
   float: right;
   overflow: scroll, hidden;
}


.flex-item2 ul {
 padding: 0;
 text-align: center;
}

.flex-item3 ul {
 padding: 0;
 text-align: center;

}

#title {
 text-align: center;
}
