html{
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%;

}

body {
 margin:0;
 padding: 0;
 background: rgb(193, 197, 210);
 overflow: hidden;
}

.flex-container1 {
   display: inline-block;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   background: rgb(193, 197, 210);
   text-decoration: none;
}

.flex-item1 {
   height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 13px;
   float: left;
   overflow: scroll, hidden;
   text-align: center;
   margin-left: -2%;
}

.flex-item2 {
   height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 17px;
   float: left;
   overflow: scroll, hidden;
   text-align: center;
   margin-left: 1.4%;
}

.flex-item3 {
   height: 100%;
   width: 33.33%;
   background: transparent;
   color: rgb(108,108,109);
   font-size: 17px;
   float: right;
   overflow: scroll, hidden;
   text-align: center;
}


.flex-item2 ul {
 padding: 0;
 text-align: center;
}


a {
  color: rgb(108,108,109);
  text-decoration: none;
}

#title {
 text-align: center;
}

form input {
  width: 50%;
  background: rgb(108,108,109);
  border: none;
  color: white;
}
input[type=submit] {
  background: rgb(40, 55, 71);
  font-family: 'Raleway', sans-serif;
}
