/*html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  background: rgb(193, 197, 210);
  margin: 0;
  padding: 0;
}*/

body {
  background: rgb(193, 197, 210);
}
.header-content {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

div {
  font-family: 'Raleway', sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container #user-logout-title {
  text-align: center;
  color: white;
}

.container #comeback {
  text-align: center;
  color: white;
}
