ul {
 list-style-type: none;
 text-align: center;
 background: rgb(40, 55, 71);
 color: white;
 height: 65px;
 margin-top: 0;
}
a {
 color: white;
 font-size: 30px;
 font-family: 'Raleway', sans-serif;
 text-decoration: none;
}
.header {
 height: 65px;
 width: 100%;
 position: relative;
}
.container form {
 width: 550px;
 height: 550px;
 background: rgb(193, 197, 210);
 overflow: hidden;
 margin-top: 10%;
}

#name {
 padding-top: 16px;
 text-align: center;
 font-family: 'Raleway', sans-serif;
 color: rgb(40, 55, 71);
}

.signup-form {
 position: fixed;
 top: 40%;
 left: 52%;
 transform: translate(-50%, -50%);
 width: 50%;
}

.signup-form input {
 width: 60%;
 height: 35px;
 background: transparent;
 margin-left: 20%;
}

.signup-form input::-webkit-input-placeholder {
 color: rgb(40, 55, 71);
 text-align: center;
}

#title {
 text-align: center;
 font-family: 'Raleway', sans-serif;
 color: rgb(40, 55, 71);
}

#username-title {
 text-align: center;
 font-family: 'Raleway', sans-serif;
 color: rgb(40, 55, 71);
}

#password-title {
 text-align: center;
 font-family: 'Raleway', sans-serif;
 color: rgb(40, 55, 71);
}

#interests-title {
 font-family: 'Raleway', sans-serif;
 text-align: center;
 color: rgb(40, 55, 71);
}
#email-title {
 font-family: 'Raleway', sans-serif;
 color: rgb(40, 55, 71);
 text-align: center;
}

#submit-button {
 font-family: 'Raleway', sans-serif;
 height: 25px;
 width: 50px;
 margin-left: 45%;
 background: rgb(40, 55, 71);
 color: white;
 border: none;
}

#account-checker {
 text-align: center;
 color: white;
}

#account-checker a {
 color: white;
}
