<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/stylesheets/header.css">
   <link rel="stylesheet" href="/stylesheets/home.css">
   <link rel="stylesheet" href="/stylesheets/footer.css">
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <!-- Latest compiled and minified CSS -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" target="_blank"></script>
   <script src="/scripts/home.js"></script>
   <title>Apollu</title>
 </head>
 <body>
   <header>
     <div class="header-content">
       <div id="friends">friends</div>
       <div id="apollu"><a href="/">apollu</a></div>
       <div id="interests">interests</div>
     </div>

   </header>
   <div class="flex-container1">
     <div class="flex-item1">
       <div id="title"></div>
       <ul>{%for friend in friends%}
         <h1><a href = "/profile?name={{friend.followee}}">{{friend.username}}</a></h1>
         {%endfor%}
       </ul>
       <br>
     </div>
     <div class="flex-item2">
       <div id="title"></div>
       {% set player_count = 0 %}
       {%for article in articles %}
         <ul>
           {% if article.articletype == 'youtube' %}
            <h1><a href = "/article?name={{article.article_name}}">{{article.article_name}}</a></h1>
              <div id="player{{player_count}}"></div>
              {%set player_count = player_count + 1%}
           {% else %}
           <h1><a href = "/article?name={{article.article_name}}">{{article.article_name}}</a></h1>
           <p>{{article.post}}</p>
           {%endif%}
         </ul>
       {%endfor%}
       <form class="show-more-form" action="/?interest={{currentinterest}}" method="post">
         <input type="submit" name="show_more" id="show-more" value="Show More">
         <input type="hidden" name="limit" value="{{next_limit}}">
       </form>
     </div>
     <div class="flex-item3">
       <div id="title"></div>
       <ul>
         {%for interest in currentuser.interests%}
         <h3><a href = "/?interest={{interest}}">{{interest}}</a></h3>
         {%endfor%}
       </ul>
     </div>
   </div>
     <ul id="footer-ui">
       {{ post_label }}
       {{ profile_label }}
       {{ login }}
     </ul>
     <script>
     var tag = document.createElement('script');

       tag.src = "https://www.youtube.com/iframe_api";
       var firstScriptTag = document.getElementsByTagName('script')[0];
       firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

     // 3. This function creates an <iframe> (and YouTube player)
         //    after the API code downloads.
         var player;
         function onYouTubeIframeAPIReady() {
           {% set count = 0 %}
           {% for article in articles %}
           {% for id in video_IDs %}
             {% if article.articletype == 'youtube' and article.post == id%}
           player = new YT.Player('player{{count}}', {
             height: '280',
             width: '530',
             videoId: '{{article.post}}'
           });
           {%endif%}
           {%set count = count + 1%}
          {%endfor%}
          {%endfor%}
         }


     </script>
 </body>
</html>
