<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" target="_blank"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li id="left"><a href="/">{{title}}</a></li>
        <!-- Google Login first, then account creation, log out, check if user is already logged in our not -->
        {{login}}
        {{post_label}}
      </ul>
    </div>
    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3" id="user-header">
           <div class="users">
             <ul>
               {% for user in users %}
               <h3>Username: {{user.username}}</h3>
               {% endfor %}
             </ul>
           </div>
         </div>
         <div class="col-md-6" id="articles-header">
           <div class="articles">
             <ul>
               {%for article in articles%}
               <h1>Article Name: {{ article.article_name }}</h1>
               <h2>Tags: {{ article.tags }}</h2>
               <li>Post: {{ article.post }}</li>
               {% endfor %}
             </ul>
           </div>
        </div>
        <div class="col-md-3" id="interests-header">
            <div class="interests">
              {%for user in users%}
              <h3>Interests: {{ user.interests }}<h3>
              {%endfor%}
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
