<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/logout.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Logged Out</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li id="apollu-title"><a href="/">apollu</a></li>
      </ul>
    </div>
    <div class="container">
      <h1 id="user-logout-title">Hey {{username}}! You have sucessfully logged out!</h1>
      <p id="comeback">Come back and get updated soon!</p>
    </div>
    <div id="footer">
      <ul id="footer-ui">
        {{post_label}}
        {{profile_label}}
        {{login}}
      </ul>
    </div>
  </body>
</html>
