<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Sign Up</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li id="name"><a href="/">apollu</a></li>
      </ul>
    </div>
    <div class="container">
      <div id="form">
        <form class="signup-form" action="/usercreate" method="post">
          <h1 id="title">Create Account</h1>
          <h1 id="username-title">Username</h1>
          <input type="text" name="username" placeholder="Username">
          <br>
          <br>
          <h1 id="interests-title">Interests</h1>
          <input type="text" name="interests" placeholder="Interests">
          <br>
          <br>
          <h1 id="email-title">Email</h1>
          <input type="text" name="email" placeholder="example@gmail.com">
          <br>
          <br>
          <input id="submit-button" type="submit" value="Create">
        </form>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
