<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/article.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>{{article_name}}</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li id="article-name"><a href="/">apollu</a></li>
      </ul>
    </div>
    <h3>{{ user_username }}</h3>
    <h1>{{ name }}</h1>
    <h2>Tags: {{ tags }}</h2>
    <h3>{{post}}</h3>
    <div class="comments">
      <form id="comment-form" action="/article?name={{name}}" method="post">
        <input type="hidden" name="article_name" value="{{name}}">
        Comment:<br> <textarea id="comment-data" rows = "5" cols = "70" name="comment-data"></textarea>
        <br>
        <input id="comment-button" type="submit" name="comment-button" value="Comment">
      </form>
      {%for comment in comments%}
      <p style="text-align: center;">{{comment.date}}</p>
      <h3 style="text-align: center;">{{comment.comment_data}}</h3>
      {%endfor%}
    </div>
  </body>
</html>
