<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/article.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" target="_blank"></script>
    <!-- <script src="/scripts/youtubeapi.js"></script> -->
    <title>{{name}}</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div id="friends">User</div>
        <div id="apollu"><a href="/">apollu</a></div>
        <div id="interests">Tags</div>
      </div>
    </header>
    <div class="flex-container1">
      <div class="flex-item1">
        <h2>{{ user_username }}</h2>
      </div>
      <div class="flex-item2">
        <h1>{{ name }}</h1>
        <div id="player"></div>
        <div class="comments">
          <form id="comment-form" action="/article?name={{name}}" method="post">
            <input type="hidden" name="article_name" value="{{name}}">
            Comment:<br> <textarea id="comment-data" rows = "5" cols = "70" name="comment-data"></textarea>
            <br>
            <input id="comment-button" type="submit" name="comment-button" value="Comment">
          </form>
          {%for comment in comments%}
          <h2 id="comment-user">{{comment.user}}</h2>
          <p id="comment-user-data">{{comment.comment_data}}</p>
          {%endfor%}
        </div>
      </div>
      <div class="flex-item3">
        {%for tag in tags%}
        <h2>{{tag}}</h2>
        {%endfor%}
      </div>
    </div>
    <script>
    var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '390',
            width: '100%',
            videoId: '{{ post }}',
            events: {
              'onReady': onPlayerReady,
              // 'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
          event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        // var done = false;
        // function onPlayerStateChange(event) {
        //   if (event.data == YT.PlayerState.PLAYING && !done) {
        //     setTimeout(stopVideo, 6000);
        //     done = true;
        //   }
        // }
        function stopVideo() {
          player.stopVideo();
        }
    </script>
  </body>
</html>
